body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

.card{
    background-color:#c8d4ee;
}

i {
 color: white
}

button {
    background-color: dodgerblue;
    border: none;
    width: 10%;
    padding: 3px;
}

footer{
    background-color: #d7dae3 ;
    color: lightslategray;
    font: 18px;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: absolute;
}